name: brainvlm_foundation
channels:
  - pytorch
  - defaults
  - anaconda
dependencies:
  - python=3.9
  - cudatoolkit
  - pip
  - pip:
    - torch==2.0.0
    - torchaudio==2.0.1
    - torchvision==0.15.1
    - huggingface-hub==0.29.2
    - matplotlib==3.7.0
    - psutil==5.9.4
    - iopath
    - pyyaml==6.0
    - regex==2022.10.31
    - tokenizers==0.20.3
    - tqdm==4.64.1
    - transformers==4.45.2
    - timm==0.6.13
    - webdataset==0.2.48
    - omegaconf==2.3.0
    - opencv-python==4.7.0.72
    - decord==0.6.0
    - peft==0.2.0
    - sentence-transformers
    - gradio==3.47.1
    - accelerate==1.4.0
    - bitsandbytes==0.37.0
    - scikit-image
    - visual-genome
    - wandb
    - nibabel==5.3.2
    - open_clip_torch==2.31.0
    - einops==0.8.1
    - monai==1.4.0